body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
background: linear-gradient(120deg, #639dc3 0%, #b94757 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-box {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hsv-controls {
    margin-top: 20px;
}

input[type="color"],
input[type="range"] {
    margin-bottom: 10px;
}